.Explore-Menu{
    display: flex;
    flex-direction: column;
    gap:20px
}

.Explore-Menu h1{
    color: green;
    font-weight: 500;
}

.Explore-Menu-text{
    max-width: 60%;
}

.Explore-Menu-list{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x:scroll;


}



.Explore-Menu-list::-webkit-scrollbar{
    display: none;
}

.Explore-Menu-list-item img {
    width: 7.5vw;
    min-width: 8px;
    cursor: pointer;
    border-radius: 50%;
    transition:  0.2s;
}

.Explore-Menu-list-item img:hover{
    background: rgb(247, 244, 244);
    border: 1px solid black;


}
.Explore-Menu-list-item p{
    margin-top:10px;
    color: gray;
    font-size: max(1vw,10px);
    
}

.Explore-Menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: rgb(241, 238, 231);
    border: none;
}

@media (max-width:1050px){
    .Explore-Menu-text{
        max-width: 100%;
        display: none;
    }
    .Explore-Menu-list-item img{
    width: 10.5vw;
    


    }

   
}

